:root {
    font-size: 62.5%;

    --vertical-page-margin: 8rem;
    --horizontal-page-margin: 13rem;
    --light-color: #e9bd8c;
    --accent-color: #933c24;
    --gray-color: #5d5d5d;
    --white-color: #f5f5f5;
    --box-inside-gap: 2rem;

    --accent-color-hover: hsl(13, 61%, 46%);
    --light-color-hover: hsl(32, 68%, 83%);
}

/*generic*/

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    font-size: inherit;
    cursor: pointer;
}

img {
    width: 100%;
}

/*generic*/

body {
    font-size: 2.4rem;
    font-family: "Inter", "Times News Roman", sans-serif;
}

h1,
h2 {
    font-family: "Sansita Swashed", cursive;
}

.footer h1 {
    font-family: "Inter", "Times News Roman", sans-serif;
}

.btn {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    padding: 0.5em 1.4em;
    border-radius: 0.5rem;
    font-weight: 500;
    width: fit-content;

    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--accent-color-hover);
        transform: scale(105%);
    }
}

.empty-btn {
    background-color: transparent;
    color: var(--light-color);
    &:hover {
        background-color: transparent;
        color: var(--light-color);
        text-shadow: 0px 0px 3px var(--light-color);
    }
}
/*header*/
.top_bar {
    font-size: 0.916em;
    display: flex;
    gap: 5em;
    align-items: center;
}

.header {
    padding-right: var(--vertical-page-margin);
    padding-left: var(--vertical-page-margin);
    background: url(../images/hero-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header_logo {
    width: 8rem;
    margin-top: 0.5em;
}

.header_nav ul {
    display: flex;
    gap: 1.35em;
    align-items: center;
    a {
        display: block;
        color: var(--white-color);
        font-family: "Montserrat", "Poppins";
        font-weight: 600;
        border-bottom: 2px solid transparent;
        transition: all 0.2s ease-in-out;
        &:hover {
            text-shadow: 0 0 3px white;
            transform: scale(105%);
        }
    }
}

.hero {
    margin-top: 10rem;
    span {
        display: block;
    }
}

.hero .small-title {
    color: var(--light-color);
    font-weight: 550;
    letter-spacing: 0.125em;
}

.hero .big-title {
    font-size: 2.66em;
    font-family: "Sansita Swashed", cursive;
    width: 6em;
    margin-bottom: 1.6em;
    color: var(--white-color);
}

.main h1 {
    text-align: center;
    margin: var(--horizontal-page-margin);
}

.container_of_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--box-inside-gap);
    margin-left: var(--vertical-page-margin);
    margin-right: var(--vertical-page-margin);
}

.card {
    padding: 3rem;
    /*border: 1px solid red;*/
    /*flex-basis: 22%;*/
    display: grid;
    grid-template-columns: 1fr 8rem;
    /*grid-template-rows: 20rem 5rem 5rem;*/
    grid-template-rows: 20rem 5rem auto;
    grid-gap: 2rem;
    border-radius: 18px;

    background-image: url(../images/top-card-background.png);
    background-color: rgba(255, 255, 255, 0.05);
    background-blend-mode: overlay;
    color: white;
    font-weight: 600;

    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.52);

    * {
        user-select: none;
    }

    img {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        height: 100%;
        object-fit: contain;
        /*
        display: block;
        margin: auto;
        */
    }

    .price {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .info {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        /*width: 50%;*/
        text-align: center;
        /*cursor: default;
         tem user select none*/
        font-size: 1.6em;
    }

    .title {
        width: 80%;
    }

    button {
        background-color: var(--accent-color);
        color: inherit;
        border: none;
        border-radius: 0.2em;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: var(--accent-color-hover);
            transform: scale(105%);
        }
    }
}

.banner {
    margin: var(--horizontal-page-margin) 0;
    background-image: url(../images/banner-twenty.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10rem 0;
}

.banner .container {
    width: 34.3rem;
    /*width: 25%;*/
    text-align: center;
    margin: auto;

    /*
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    */

    p {
        margin: var(--box-inside-gap) 0;
    }

    user-select: none;

    h2 {
        font-size: 4.8rem;
        /*letter-spacing: 3px;*/
        letter-spacing: 0.0625em;
        font-weight: 600;
    }
}

.banner.promo {
    h2 {
        color: var(--accent-color);
    }
    .description {
        color: var(--gray-color);
    }
}

.banner.about {
    h2 {
        color: var(--white-color);
    }
    .description {
        color: #b9b9b9;
    }
    background-image: url(../images/banner-about.png);
}

.general_container {
    display: flex;
    flex-direction: column;
    gap: var(--horizontal-page-margin);
}

.explore_container {
    order: 2;
}

.explore nav {
    /*margin: auto;*/
    /*width: fit-content;*/
    user-select: none;
    margin-right: var(--vertical-page-margin);
    margin-left: var(--vertical-page-margin);
    order: 1;

    /*margin-bottom: 5em; substituido por flex=gap*/

    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    /*z-index: 7; z-index -1 nos explores escondidos*/
    ul {
        /*border: 1px solid red;*/
        width: fit-content;
        margin: auto;
        display: flex;
        gap: 2em;
        li {
            color: var(--gray-color);
        }
    }
}

.general_container .explore_container {
    display: flex;

    position: absolute;
    top: 0;
    z-index: -1;
    opacity: 0;
    transform: scale(90%);

    transition:
        opacity 0.8s ease-in-out,
        transform 1.2s ease-in-out;

    a {
        img {
            border-radius: 1rem;
        }
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(105%);
            filter: brightness(115%);
        }
    }
}

input:checked + .explore_container {
    z-index: 1;
    position: relative;
    opacity: 1;
    transform: scale(100%);
}

.explore_container {
    flex-wrap: wrap;
    margin-right: var(--vertical-page-margin);
    margin-left: var(--vertical-page-margin);
    gap: var(--box-inside-gap);
    a {
        /*display: block;*/
        flex: 1 1 calc(33% - (var(--box-inside-gap) * 2));
        /*flex: 1 1 30%;*/
        display: block;
        img {
            border-radius: 4px;
            height: 400px;
            object-fit: cover;
        }
    }
}

.activator {
    display: none;
}

input#cake:checked ~ nav label[for="cake"],
input#muffins:checked ~ nav label[for="muffins"],
input#croissant:checked ~ nav label[for="croissant"],
input#bread:checked ~ nav label[for="bread"],
input#tart:checked ~ nav label[for="tart"],
input#favorite:checked ~ nav label[for="favorite"] {
    border-bottom: 3px solid var(--accent-color);
}

.explore nav label {
    border-bottom: 3px solid transparent;
    transition: border 0.1s ease-in-out;
    &:hover {
        border-bottom: 3px solid var(--accent-color);
    }
}
.featured{
    margin-right: var(--vertical-page-margin);
    margin-left: var(--vertical-page-margin);
}
.featured_container {
    display: flex;
    justify-content: center;
    gap: var(--box-inside-gap);
}

.featured_card {
    width: 100%;
    img {
        border-radius: 1rem;
        transition: all 0.3s;
    }
    .featured_details {
        font-weight: 600;
        padding: var(--box-inside-gap);
        /*margin-bottom: var(--box-inside-gap);*/
        display: flex;
        justify-content: space-between;
    }

    &:hover {

        img {
            transform: scale(105%);
            filter: brightness(115%);
        }
    }
}

.footer_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.46);
}

.footer_social {
    display: flex;
    align-items: center;
    gap: 1em;
    color: var(--light-color);

    /*margin-right: 20rem;*/
    ul {
        display: flex;
        align-items: center;
        font-size: 1.5em;

        a {
            transition: all 0.2s ease-in-out;
            &:hover {
                color: var(--light-color-hover);
            }
        }
    }
}

.footer {
    padding-bottom: 5.6rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/footer_back.png);
    color: white;
    margin-top: var(--horizontal-page-margin);
    .content {
        display: flex;
        justify-content: start;
        gap: 10rem;
        margin-top: 3rem;
        margin-bottom: 12.5rem;
        .news {
            margin-left: auto;
        }
        line-height: 1.5;
    }

    h1 {
        color: var(--light-color);
    }
}
.copyright {
    color: #737373;
}

.footer > * {
    margin-left: var(--vertical-page-margin);
    margin-right: var(--vertical-page-margin);
}

.footer_logo {
    width: 8rem;
    margin: 2rem 0;
}

.copyright {
    text-align: center;
    display: block;
}

.news_card {
    display: flex;
    gap: var(--box-inside-gap);
    img {
        width: 10rem;
        transition: all 0.2s;
    }

    .date {
        font-size: 0.75em;
        margin-bottom: 1rem;
        color: var(--light-color);
    }
    margin-bottom: var(--box-inside-gap);
    span,
    p {
        transition: all 0.2s;
    }
    &:hover {
        span,
        p {
            text-shadow: 0 0 3px white;
        }
        img {
            filter: saturate(140%);
        }
    }
}

.footer_links {
    a {
        transition: all 0.2s ease-in-out;
        &:hover {
            text-shadow: 0 0 3px white;
        }
    }
}
